<li [ngClass]="{'list-group-item': true,
                'list-group-item-success' : appareilStatus === 'allumé',
                'list-group-item-danger' : appareilStatus === 'éteint'}">

        <div class="head">
                <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }} </h4>
                <button (click)="onDelete(id)" title="supprimer machine"><img src="assets/image/close.png"></button>
        </div>
                <a class="detail-link" [routerLink]="[id]">Détails</a><br>

     <div class="container">   
        <button class="btn btn-sm btn-success" 
                (click)="onSwitchOn()" 
                [disabled]="appareilStatus === 'allumé'">Allumer la machine</button>
        <button class="btn btn-sm btn-danger" 
                (click)="onSwitchOff()" 
                [disabled]="appareilStatus === 'éteint'">Eteindre la machine</button>
      </div>           
</li>

